.DS_Store
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
test/unit/coverage
.firebaserc
firebase.json
src/database/configUrls.js
src/firebase/firebase.js
functions/node_modules/
functions/firebaseKey.json
functions/firebaseConfig.json

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
